version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: alpine:3.7
    steps:
      - checkout
      - run:
          name: setup
          command: |
              apk update && apk add -q curl bash jq sed
              env | sort
      - run:
          name: build
          command: |
            export BUILD_TAG=${BUILD_TAG:=latest}
            get_release_info() {
                curl \
                    --silent \
                    -H "Authorization: token ${GITHUB_TOKEN}" \
                    "https://api.github.com/repos/unicef/sir-poc/releases/tags/$1" | jq -r '.body'
            }
            INFO=`get_release_info $BUILD_TAG`

            echo $INFO
  backend:
    working_directory: ~/code
    docker:
      - image: docker:17.05.0-ce-git
        environment:
          PGHOST: 127.0.0.1
          PIPENV_VENV_IN_PROJECT: 1
          DATABASE_URL: "postgres://postgres:postgres@127.0.0.1:5432/test_sir"
      - image: circleci/postgres:9.6-alpine-postgis
        environment:
          POSTGRES_USER: postgres
          PGUSER: postgres
          POSTGRES_DB: test_sir
          POSTGRES_PASSWORD: postgres

    environment:
      DOCKER_IMAGE: unicef/sir-be
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "2b:6f:56:d6:6d:01:3d:81:44:3f:81:98:e9:ef:fe:ff"
      - setup_remote_docker
      - run:
          name: Build Backend docker image 'unicef/sir-fe'
          command: |
            if [ -z "$BUILD_TAG" ];then
              echo "Tag not set. exit"
              exit 1
            fi
            cd backend
            docker build  \
                    --build-arg GITHUB_TOKEN=${GITHUB_TOKEN} \
                    --build-arg BACKEND_VERSION=${BUILD_TAG} \
                    -t ${DOCKER_IMAGE}:${BUILD_TAG} \
                    -f Dockerfile .
            docker images
      - run:
          name: Test Backend docker image
          command: |
              docker run -p 8000:8000 --rm \
                      -e DATABASE_URL=${DATABASE_URL} \
                      -e DEBUG=0 \
                      -e SECURE_SSL_REDIRECT=0 \
                      -e SESSION_COOKIE_SECURE=0 \
                      -e SESSION_COOKIE_HTTPONLY=9 \
                      -e SESSION_COOKIE_HTTPONLY=0 \
                      -e CSRF_COOKIE_SECURE=0 \
                      -v $PWD/tmp/sir/:/var/sir/ \
                      -it ${DOCKER_IMAGE}:${BUILD_TAG} \
                      django-admin check --deploy
      - deploy:
          name: Push Backend docker image
          command: |
              export TODAY=`date '+%d %B %Y at %H:%M'`

              git config --global user.email "ci@unicef.org"
              git config --global user.name "CI"
              echo "$TODAY Backend $BUILD_TAG released" | cat - CHANGES > temp && mv temp CHANGES
              git add CHANGES
              git commit -m "Released Backend v$BUILD_TAG"
              git push
              git tag -a -m "backend/$BUILD_TAG" backend/$BUILD_TAG
              git push --tags

              docker login -u $DOCKER_USER -p $DOCKER_PASS

              docker tag ${DOCKER_IMAGE}:${BUILD_TAG} ${DOCKER_IMAGE}:latest
              docker push ${DOCKER_IMAGE}:latest
              docker push ${DOCKER_IMAGE}:${BUILD_TAG}



  frontend:
    working_directory: ~/code
    docker:
      - image: docker:17.05.0-ce-git
    environment:
      DOCKER_IMAGE: unicef/sir-fe
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "2b:6f:56:d6:6d:01:3d:81:44:3f:81:98:e9:ef:fe:ff"
      - setup_remote_docker
      - run:
          name: Build Frontend docker image 'unicef/sir-fe'
          command: |
            env | sort
            if [ -z "$BUILD_TAG" ];then
              echo "Tag not set. exit"
              exit 1
            fi
            cd frontend
            docker build  \
                    --build-arg GITHUB_TOKEN=${GITHUB_TOKEN} \
                    --build-arg VERSION=${BUILD_TAG} \
                    -t ${DOCKER_IMAGE}:${BUILD_TAG} \
                    -f Dockerfile .
            docker images
      - run:
          name: Test Frontend docker image
          command: |
              docker run \
                      -it ${DOCKER_IMAGE}:${BUILD_TAG} \
                      polymer lint
      - deploy:
          name: Push Frontend docker image
          command: |
              export TODAY=`date '+%d %B %Y at %H:%M'`

              git config --global user.email "ci@unicef.org"
              git config --global user.name "CI"
              echo "$TODAY Frontend $ released" | cat - CHANGES > temp && mv temp CHANGES
              git add CHANGES
              git commit -m "Released frontend v$BUILD_TAG"
              git push
              git tag -a -m "frontend/$BUILD_TAG" frontend/$BUILD_TAG
              git push --tags

              docker login -u $DOCKER_USER -p $DOCKER_PASS

              docker tag ${DOCKER_IMAGE}:${BUILD_TAG} ${DOCKER_IMAGE}:latest
              docker push ${DOCKER_IMAGE}:latest
              docker push ${DOCKER_IMAGE}:${BUILD_TAG}
